@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Abril Fatface', serif;
    font-size: 50px;
    text-align: center;
}
h2 {
    font-family: 'Roboto Slab';
    font-size: 25px;
    margin: 0;
}

h5 {
    font-family: 'Abril Fatface', serif;
    color: #dd3232;
    font-size: 15px;
    margin: 5px 0 15px 0;
}


h4 {
    text-align: left;
    font-size: 16px;
    font-family: 'Roboto Slab';
    padding: 0 0 0 0;
    margin: 20px 0 20px 0;
}

p {
    font-family: 'Source Sans Pro';
    text-align: left;
    font-size: 15px;
    color: black;
}

.date {
    padding: 20px 0 0 20px;
    font-family: sans-serif;
    color: #777;
    font-size: 12px;
}

nav {
    /* top: 0;
    position: sticky; */
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    list-style: none;
    margin: 0 20px 0 20px;
    padding: 0;
    text-align: center;
}

ul {
    padding: 0 0 0 0;
    margin: 5px 0 5px 0;
}

li {
    list-style-type: none;
    display: inline;
    margin: auto;
}
a {
    text-decoration: none;
    padding: 5px;
    color: #777;
    font-family: sans-serif;
    font-size: 12px;
}


.newspaper-container {
    background-color: white;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-radius: 25px;
    border-color: #eee;
    box-shadow: 0 5px 5px #ddd;
}

main {
    padding: 20px;
}

.more-articles {
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin: 0 20px 0 20px;
    text-align: center;
    padding: 0 0 0 0;
}

main img {
    display: block;
    width: 100%;
}
section img {
    width: 100%;
}

section {
    display: inline-block;
    width: 285px;
}

.left {
    padding: 0 20px 0 0;
}

.right {
    padding: 0 0 0 20px;
}

section p {
    text-align: left;
    margin: 15px 0 25px 0; 
}
section h4 {
    text-align: left;
}

#container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    padding-bottom: 20px;
}
  
#container > div {
    /* background-color: #8ca0ff; used to find containers and grid on working page*/
    margin: 20px;
    width: 190px;
    height: 150px;
    
}

.trending {
    text-align: center;
    margin: 10px 0 0 0;
}

div h5 {
    color: black;
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto Slab';
    padding: 0 0 0 0;
    margin: 5px 0 5px 0;
}

.color, .grid, .center {
    width: 190px;
    height: 140px;
}
.footer {
    border-top: 2px solid #eee;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
}
span {
    font-family: sans-serif;
    color: #777;
    font-size: 12px;
    padding: 0 15px 0 15px;
}
span:hover {
    text-decoration: underline;
}